.contain{

    height:100vh;

    .frontcontain{
        margin-left:100px;
        padding-bottom:50px;
    }

    .textcontain{
        // border: 1px solid black;
        height: 100%;
        display:flex;
        .textcontain1{
            border: 1px solid black;
            width: 300px;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 100px;
            margin-top: 0;
            box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 25%);
            img{
                height:140px;
            }
        }
        .textcontain2{
            // border: 1px solid black;
            width: 50%;
            height: 100%;
            .textcontain2_title{
                padding-bottom:40px;
            }
            .textcontain2_subtitle{
                border-left: solid red;
                padding-left:40px;
            }
        }
    }





}