header{
    
    background-image: url('../img/Header_2.png');
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    height:280px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;

    .logo1{
       position:absolute;
       top: 40px; 
       left: 40px;
       width: 40px;
       height: 40px;
       border-right: solid white;
       img{
           height:40px;
       }
    }

    .logo2{
        position:absolute;
        top: 40px;
        left: 100px;
        img{
            height:40px;
        }
     }

    h1{
        color:white;
    }
}